Basics/HelloWorld.exe
Basics/DataTypes.exe
Basics/Arrays.exe
Basics/MultidimensionalArrays.exe
.vscode/c_cpp_properties.json
Basics/Conditions.exe
Basics/Strings.exe
Basics/ForLoops.exe
Basics/While.exe
Basics/Function.exe
